<!DOCTYPE html>
<html>
<head>
  <title>CraigslistJobSearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="title">Ben, find a fucking job already.<div>
	<%= render 'shared/search_form' %>

<%= yield %>

</body>
</html>
